.sudoku-grid {
  width: 30%;
  aspect-ratio: 1 / 1; 
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* Fixed to 9 columns */
  grid-template-rows: repeat(9, 1fr); /* Fixed to 9 rows */
  border-collapse: collapse;
  margin: 0 auto; 
}


@media (max-width: 768px) {
  .sudoku-grid {
    width: 80%; 
  }
}

.cell {
  border: 1px solid rgb(43, 39, 39);
  width: 100%;
  aspect-ratio: 1 / 1; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
}
.cell:nth-child(3n + 1) {
  border-top: 6px solid black; 
}
.row:nth-child(3n+1) .cell {
  border-left: 6px solid black; 
}
.row:nth-child(9n) .cell {
  border-right: 6px solid black;
}
.cell:nth-child(9n) {
  border-bottom: 6px solid black; 
}
.readonly {
  background-color: grey; /* Grey background for uneditable cells */
  color: white; /* Optional: Change text color to white for contrast */
  border: 1px solid black; /* Optional: Remove border */
}